<%- include('layout/header') %>


<div class="container">
    <div class="row">
        <div class="col-lg-6 mx-auto mt-4">
            <div class="card shadow">
                <div class="card-header bg-dark">
                    <h3 class="text-light">Adicione Um Novo Usuário</h3>
                </div>
                <div class="card-body p-4">
                    <form action="/add" method="post" id="add-form" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="name">Nome</label>
                            <input type="text" name="nome" class="form-control form-control-lg" placeholder="Digite o nome" required/>
                        </div>
                        <div class="mb-3">
                            <label for="email">E-mail</label>
                            <input type="email" name="email" class="form-control form-control-lg" placeholder="Digite o e-mail" required/>
                        </div>
                        <div class="mb-3">
                            <label for="telefone">Telefone</label>
                            <input type="tel" name="telefone" class="form-control form-control-lg" placeholder="Digite o telefone" required/>
                        </div>
                        <div class="mb-3">
                            <label for="imagem">Selecione uma imagem</label>
                            <input type="file" name="imagem" class="form-control form-control-lg" required/>
                        </div>
                        <div class="mb-3 d-grid">
                            <input type="submit" name="enviar" value="Add User" class="btn btn-dark btn-lg"/>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


<%- include('layout/footer') %>